.header {
  min-height: 5em;
  background-color: var(--cor-secundaria);
  color: var(--cor-texto);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-img {
  width: 4em;
  margin-left: 1em;
}

.wrapper-icon {
  transition: ease-in-out;
  transition-duration: 0.2s;
}

.wrapper-icon:hover {
  transform: scale(1.05);
}

.text-icon {
  margin-left: 1em;
  display: inline;
  letter-spacing: 0.5em;
  color: var(--cor-principal);
}

.wrapper-icon {
  display: flex;
  align-items: center;
}

.header-links {
  color: var(--cor-principal);
  font-size: 2em;
  margin-right: 2em;
  text-decoration: none;
}

.main-banner {
  position: relative;
}

.banner-video {
  display: block;
  max-width: 100%;
  filter: brightness(15%);
  
}

.text-banner {
  font-weight: lighter;
  position: absolute;
  color: #FFF;
  font-size: 3em;
  top: 2em;
  left: 1em;
  padding: 20px;
  background-color: var(--cor-principal);
  border-radius: 40px;  
}

.whats-icon {
  border-radius: 50%;
  padding: 5px;
  background-image: linear-gradient(#5bf574, #30bf2f);
  position: absolute;
  font-size: 3em;
  top: 5em;
  left: 1em;
  z-index: 2;
}

.call-text {
  font-weight: 100;
  color: #FFF;
  font-size: 2em;
  letter-spacing: 5px;
  position: absolute;
  top: 7.8em;
  left: 3.2em;
  padding: 15px;
  padding-left: 40px;
  background-color: #30bf2f;
  border-radius: 30px;
  z-index: 1;
}